/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
  margin: 0;
  background: #010409;
  color: #ffffff;
  font-family: Arial, sans-serif;
}